// Font Families
$g-font-primary: "Encode Sans", sans-serif;

// Font Sizes
// $g-font-primary-size: 16px;



//
// Colors
//

// Primary Color
$g-color-primary: #005072;
$g-color-primary-light-v1: #032e3d;

// Main Colors
$g-color-text: #6f7274;
$g-color-secondary: #f5d700;
$g-color-dark: #13181d;
$g-color-dark-light-v1: #0e151b;
$g-color-main: #005072;
$g-color-main-light-v1: #032e3d;