@import "variables.multipage-marketing";

.object-fit{
	width:100%;
	object-fit: cover;
}

a:hover {
    text-decoration: none;
}

.hoverFromCenter{
	color: #666;display:inline-block; margin:0;text-transform:uppercase;
}
.hoverFromCenter:after {
  display:block;
  content: '';
  border-bottom: solid 1px $g-color-primary;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.hoverFromCenter.g-color-white:after {
  border-bottom: solid 1px white;
}
.hoverFromCenter:hover:after { 
	transform: scaleX(1); 
}

// #navBar{
// 	ul{
// 		li{
// 			a{
// 				border-bottom: none;
// 				transition: all ease-in-out 0.25s;
// 			}
// 			a:hover{
// 				border-bottom: thin solid $g-color-primary;
// 				transition: all ease-in-out 0.25s;
// 			}
// 		}
// 	}
// }

.mainSlider{
	height: 70vh;
}

.trackIDCon{
	.trackIDBlk{
		width: 80vw;
		max-width: 800px !important;    
		position: relative;
    	top: -60px;
    	background: white;
    	box-shadow: 3px 3px 17px 8px rgba(0, 0, 0, 0.3);
	}
}

.shippingProcessCon{
	.shippingProcessBlk{
		background:white;
		.number{
			h1{
				position: absolute;
			    top: -30px;
			    background: white;
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}
}

.shippingServicesCon{
	ul.nav{
		width: 100%;
		li.nav-item{
			a.nav-link{
				background: $g-color-secondary;
				transition: all ease-in-out 0.25s;
				&:hover{
					padding-top: 15px;
					transition: all ease-in-out 0.25s;
				}
			}
			a.nav-link.active{
				background: white;
				padding-top: 20px;
			}
		}
	}
	.tab-content{
		background:white;
	}
}

.cargoLimitCon{
	.container{
		max-width: 900px;
		.shortcode-html{
			.card{
				a.d-block{
					color: $g-color-secondary;
					background: $g-color-primary;
				}
				a.collapsed{
					color: $g-color-primary;
					background:$g-color-secondary;
				}
			}
		}
	}
}

.line-separator-small{
	width:100%;
	.side-line{
		display: inline-block;
		border-top: 4px solid black;
		width: 20%;
		border-color: $g-color-secondary;
	}

	.triangle{
		display: inline-block;
	    height: 30px;
	    width: 30px;
	    transform: rotate(225deg);
	    transform-origin: center center;
	    border-top: 4px solid black;
	    border-left: 4px solid black;
	    margin-left: 3px;
	    margin-right: 3px;
	    margin-bottom: -3px;
	    border-color: $g-color-secondary;
	}
}

.sm{
	display: block;
}
.md, .lg{
	display: none;
}

@media (min-width: 768px) {
	.md{
		display: block;
	}
	.sm, .lg{
		display: none;
	}
}

@media (min-width: 992px) {
	.lg{
		display: block;
	}
	.sm, .md{
		display: none;
	}
}